<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016311301761-jahbujv72v87b8s6bsjb2qasofe99peu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016311301761-jahbujv72v87b8s6bsjb2qasofe99peu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016311301761-rg7bl7gp58j3gklqe37aff8mkcs1keqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqBIwAnZ_MgaiO2wyNcXv8imPOsBd_oeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1016311301761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mainproject1</string>
	<key>PROJECT_ID</key>
	<string>kisan-desk</string>
	<key>STORAGE_BUCKET</key>
	<string>kisan-desk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016311301761:ios:9964155cd9998327976f80</string>
	<key>DATABASE_URL</key>
	<string>https://kisan-desk-default-rtdb.firebaseio.com</string>
</dict>
</plist>